// mixins
@mixin transition( $prop:all, $dur:1s, $timing:linear, $delay:0s ) {
	-webkit-transition: $prop $dur $timing $delay;
	-moz-transition: $prop $dur $timing $delay;
	-o-transition: $prop $dur $timing $delay;
	transition: $prop $dur $timing $delay;
}

@mixin box-sizing( $val ) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	box-sizing: $val;
}

@font-face {
	font-family: 'Noto Sans CJK';
	src: url("../fonts/NotoSansCJKjp-Light.otf") format("opentype");
}