@font-face {
  font-family: 'Noto Sans CJK';
  src: url("../fonts/NotoSansCJKjp-Light.otf") format("opentype"); }
body, html {
  overflow-x: hidden;
  position: relative; }

body {
  margin: 0px; }

textarea:focus, input:focus {
  outline: none; }

*:focus {
  outline: none; }

.jp {
  font-family: 'Noto Sans CJK'; }

header .container {
  position: fixed;
  display: block;
  height: 64px;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #c06;
  z-index: 1000; }
  header .container .fa {
    display: block;
    position: relative;
    width: 46px;
    height: 60px;
    margin: 0px;
    padding-top: 12px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    bottom: 0px; }
    header .container .fa .fa-bars:after {
      content: '\f0c9'; }

.page {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0px;
  padding: 80px 20px 40px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin-left 0.5s ease-out 0s;
  -moz-transition: margin-left 0.5s ease-out 0s;
  -o-transition: margin-left 0.5s ease-out 0s;
  transition: margin-left 0.5s ease-out 0s; }
  .page.homepage h1 {
    font-weight: 700;
    font-size: 4em;
    color: #333; }
  .page.homepage h2 {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0px; }
  .page.vocabulary #vocab-list {
    padding-bottom: 100px; }
  .page.word-edit {
    /*.char-preview {
    	display: inline-block;
    	max-width: 50px;
    }
    .fg-preview {
    	max-width: 50px;
    	font-size: 16px;
    	line-height: 18px;
    	text-align: center;
    }
    .kj-preview {
    	max-width: 50px;
    	font-size: 24px;
    	line-height: 28px;
    	text-align: center;
    }
    .word {
    	display: inline-block;
    	background: #00ff00;
    }*/ }
    .page.word-edit .form-page {
      width: 100%;
      margin: 10px 0px;
      padding: 10px 0px;
      opacity: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: opacity 0.5s ease-out 0s;
      -moz-transition: opacity 0.5s ease-out 0s;
      -o-transition: opacity 0.5s ease-out 0s;
      transition: opacity 0.5s ease-out 0s; }
      .page.word-edit .form-page input[type=text] {
        -webkit-appearance: none !important;
        border-radius: 10px;
        -webkit-border-radius: 10px; }
      .page.word-edit .form-page.page1 {
        opacity: 1; }
        .page.word-edit .form-page.page1 input[type=text]#word-input {
          border: none;
          font-size: 32px;
          letter-spacing: 1em;
          margin-top: 21px;
          width: 100%;
          background-color: transparent;
          padding: 0px !important; }
      .page.word-edit .form-page.page2 {
        opacity: 1; }
        .page.word-edit .form-page.page2 #reading-input {
          /*.kj-input {
          	font-size: 24px;
          	line-height: 28px;
          	text-align: center;
          }*/ }
          .page.word-edit .form-page.page2 #reading-input .char-input {
            display: inline-block;
            width: 64px; }
          .page.word-edit .form-page.page2 #reading-input input[type=text].kj-input {
            display: none; }
          .page.word-edit .form-page.page2 #reading-input input[type=text].fg-input {
            margin: 0px !important;
            border: none !important;
            font-size: 14px;
            line-height: 20px;
            width: 60px;
            background-color: #eaeafb; }
        .page.word-edit .form-page.page2 input[type=text]#word-input2 {
          border: none;
          font-size: 32px;
          letter-spacing: 1em;
          width: 100%;
          background-color: transparent;
          padding: 0px !important; }
  .page.off-right {
    margin-left: 100%; }
  .page.off-left {
    margin-left: -100%; }
  .page a {
    color: #333;
    text-decoration: none; }

.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5); }
  .overlay .popup {
    display: block;
    position: relative;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    text-align: center;
    padding: 50px;
    background-color: #fff; }

footer .container {
  position: fixed;
  display: block;
  width: 100%;
  height: 46px;
  bottom: 0px;
  left: 0px;
  background-color: #c06;
  z-index: 1000; }
  footer .container a .fa {
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 46px;
    right: 0px;
    bottom: 0px; }
    footer .container a .fa .fa-plus:after {
      content: '\f067'; }

a {
  cursor: pointer; }

.btn {
  -webkit-appearance: none !important;
  border: none !important;
  border-radius: 0px !important;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  background-color: #40464C;
  color: #fff;
  padding: 5px 10px; }

.hidden {
  display: none;
  opacity: 0; }

.fade-in {
  opacity: 1 !important; }

/*# sourceMappingURL=style.css.map */
